Repository expenseapp-io/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix --no-ignore --max-warnings=0"
  ],
  "*.{css,scss}": [
    "stylelint --fix --max-warnings=0"
  ]
}

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Bump version to: 1.1.1 [skip ci]
  package-lock.json
  package.json
Due: none

feat: add icons
  .storybook/main.ts
  package-lock.json
  package.json
  src/icons/CalendarIcon.svg
  src/icons/CaretLeftIcon.svg
  src/icons/CaretRightIcon.svg
  src/icons/CaretUpDownIcon.svg
  src/icons/CheckIcon.svg
  src/icons/XIcon.svg
  src/stories/core/Icons.mdx
Due: eslint --fix --no-ignore --max-warnings=0

docs: replace svg code with icon import
  src/stories/components/Select.mdx
Due: none

Add icons (#69)
  .storybook/main.ts
  package-lock.json
  package.json
  src/icons/CalendarIcon.svg
  src/icons/CaretLeftIcon.svg
  src/icons/CaretRightIcon.svg
  src/icons/CaretUpDownIcon.svg
  src/icons/CheckIcon.svg
  src/icons/XIcon.svg
  src/stories/components/Select.mdx
  src/stories/core/Icons.mdx
Due: eslint --fix --no-ignore --max-warnings=0

Bump version to: 1.2.0 [skip ci]
  package-lock.json
  package.json
Due: none

feat: add icon button componet
  src/stories/components/IconButton.mdx
  src/styles/components/button.css
  src/styles/components/icon-button.css
  src/styles/main.css
Due: stylelint --fix --max-warnings=0

Add icon button component (#70)
  src/stories/components/IconButton.mdx
  src/styles/components/button.css
  src/styles/components/icon-button.css
  src/styles/main.css
Due: stylelint --fix --max-warnings=0

Bump version to: 1.3.0 [skip ci]
  package-lock.json
  package.json
Due: none

feat: add dialog component
  src/components/UnstyledWithTheme.tsx
  src/stories/components/Dialog.mdx
  src/styles/base/reset.css
  src/styles/components/button.css
  src/styles/components/dialog.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

Add dialog component (#71)
  src/components/UnstyledWithTheme.tsx
  src/stories/components/Dialog.mdx
  src/styles/base/reset.css
  src/styles/components/button.css
  src/styles/components/dialog.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

Bump version to: 1.4.0 [skip ci]
  package-lock.json
  package.json
Due: none

feat: export icons and styles
  .storybook/preview.ts
  index.d.ts
  package-lock.json
  package.json
  rollup.config.js
  src/icons/index.ts
  src/main.ts
Due: eslint --fix --no-ignore --max-warnings=0

fix: import for Storybook preview
  .storybook/preview.ts
Due: eslint --fix --no-ignore --max-warnings=0

feat: export icons and styles (#72)
  index.d.ts
  package-lock.json
  package.json
  rollup.config.js
  src/icons/index.ts
  src/main.ts
Due: eslint --fix --no-ignore --max-warnings=0

Bump version to: 1.5.0 [skip ci]
  package-lock.json
  package.json
Due: none

fix: update reset.css to not containg global things
  .storybook/preview.ts
  .storybook/reset.css
  src/stories/components/Dialog.mdx
  src/stories/core/Typography.mdx
  src/stories/examples/NewsletterForm.mdx
  src/styles/base/reset.css
  src/styles/base/typography.css
  src/styles/components/button.css
  src/styles/components/input.css
  src/styles/components/select.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

fix: update reset.css to not containg global things (#73)
  .storybook/preview.ts
  .storybook/reset.css
  src/stories/components/Dialog.mdx
  src/stories/core/Typography.mdx
  src/stories/examples/NewsletterForm.mdx
  src/styles/base/reset.css
  src/styles/base/typography.css
  src/styles/components/button.css
  src/styles/components/input.css
  src/styles/components/select.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

Bump version to: 1.5.1 [skip ci]
  package-lock.json
  package.json
Due: none

fix: add gap for buttons
  src/styles/components/button.css
Due: stylelint --fix --max-warnings=0

fix: add gap for buttons (#74)
  src/styles/components/button.css
Due: stylelint --fix --max-warnings=0

Bump version to: 1.5.2 [skip ci]
  package-lock.json
  package.json
Due: none

fix: input border colors
  src/styles/components/input.css
Due: stylelint --fix --max-warnings=0

fix: input border colors (#75)
  src/styles/components/input.css
Due: stylelint --fix --max-warnings=0

Bump version to: 1.5.3 [skip ci]
  package-lock.json
  package.json
Due: none

chore: work in progress
  index.d.ts
  package-lock.json
  package.json
  src/components/DatePicker/index.tsx
  src/components/DatePicker/reducer.ts
  src/components/DatePicker/types.ts
  src/stories/components/DatePicker.mdx
  src/stories/components/Dialog.mdx
  src/styles/base/typography.css
  src/styles/components/date-picker.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

fix: border colors of input
  src/styles/components/input.css
Due: stylelint --fix --max-warnings=0

feat: add date picker
  .eslintrc.yml
  .prettierrc
  .storybook/main.ts
  .storybook/preview.ts
  .vscode/settings.json
  package-lock.json
  package.json
  src/components/DatePicker/index.tsx
  src/components/DatePicker/reducer.ts
  src/components/DatePicker/types.ts
  src/components/UnstyledWithTheme.tsx
  src/stories/components/Button.mdx
  src/stories/components/DatePicker.mdx
  src/stories/components/Dialog.mdx
  src/stories/components/Dialog.stories.tsx
  src/stories/components/IconButton.mdx
  src/stories/components/Input.mdx
  src/stories/components/Select.mdx
  src/stories/core/Colors.mdx
  src/stories/core/Icons.mdx
  src/stories/core/Typography.mdx
  src/stories/examples/NewsletterForm.mdx
  src/styles/abstracts/variables.css
  src/styles/components/button.css
  src/styles/components/date-picker.css
  src/styles/components/form-control.css
  src/styles/components/icon-button.css
  src/styles/components/input.css
  src/styles/components/select.css
  src/styles/main.css
  src/tests/mock.test.ts
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

fix: eslint error
  vitest.config.ts
Due: eslint --fix --no-ignore --max-warnings=0

Feature/date picker (#76)
  .eslintrc.yml
  .prettierrc
  .storybook/main.ts
  .storybook/preview.ts
  .vscode/settings.json
  index.d.ts
  package-lock.json
  package.json
  src/components/DatePicker/index.tsx
  src/components/DatePicker/reducer.ts
  src/components/DatePicker/types.ts
  src/components/UnstyledWithTheme.tsx
  src/stories/components/Button.mdx
  src/stories/components/DatePicker.mdx
  src/stories/components/Dialog.mdx
  src/stories/components/Dialog.stories.tsx
  src/stories/components/IconButton.mdx
  src/stories/components/Input.mdx
  src/stories/components/Select.mdx
  src/stories/core/Colors.mdx
  src/stories/core/Icons.mdx
  src/stories/core/Typography.mdx
  src/stories/examples/NewsletterForm.mdx
  src/styles/abstracts/variables.css
  src/styles/base/typography.css
  src/styles/components/button.css
  src/styles/components/date-picker.css
  src/styles/components/form-control.css
  src/styles/components/icon-button.css
  src/styles/components/input.css
  src/styles/components/select.css
  src/styles/main.css
  src/tests/mock.test.ts
  vitest.config.ts
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

Bump version to: 1.6.0 [skip ci]
  package-lock.json
  package.json
Due: none

fix: add DatePicker export
  src/components/index.ts
  src/main.ts
Due: eslint --fix --no-ignore --max-warnings=0
