Repository expenseapp-io/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix --no-ignore --max-warnings=0"
  ],
  "*.{css,scss}": [
    "stylelint --fix --max-warnings=0"
  ]
}

chore: add feature b (#55)
  README.md
Due: none

chore: add PR id number
  .github/workflows/publish-release.yml
Due: none

chore: add feature c
  README.md
Due: none

chore: add feature c (#57)
  README.md
Due: none

Next Release (#56)
  .github/workflows/publish-release.yml
  README.md
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Bump version to: 3.5.0 [skip ci]
  package-lock.json
  package.json
Due: none

chore: change package name to monout
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: none

Update README.md
  README.md
Due: none

Update README.md (#58)
  README.md
Due: none

Bump version to: 1.0.0 [skip ci]
  package-lock.json
  package.json
Due: none

chore: update storybook version
  package-lock.json
  package.json
Due: none

chore: update storybook version (#59)
  package-lock.json
  package.json
Due: none

feat: add typography scale
  .storybook/preview.ts
  src/stories/Button.stories.ts
  src/stories/Typography.mdx
  src/styles/base/reset.css
  src/styles/base/typography.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

Add Typography styles (#60)
  .storybook/preview.ts
  src/stories/Button.stories.ts
  src/stories/Typography.mdx
  src/styles/base/reset.css
  src/styles/base/typography.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

feat: add color primitive tokens
  src/stories/Colors.mdx
  src/styles/abstracts/variables.css
Due: stylelint --fix --max-warnings=0

Add primitive color tokens (#62)
  src/stories/Colors.mdx
  src/styles/abstracts/variables.css
Due: stylelint --fix --max-warnings=0

🚀 Next Release (#61)
  .storybook/preview.ts
  package-lock.json
  package.json
  src/stories/Button.stories.ts
  src/stories/Colors.mdx
  src/stories/Typography.mdx
  src/styles/abstracts/variables.css
  src/styles/base/reset.css
  src/styles/base/typography.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

Bump version to: 1.0.1 [skip ci]
  package-lock.json
  package.json
Due: none

feat: add Button component styles
  .vscode/settings.json
  src/components/Button/index.tsx
  src/components/Button/styles.module.scss
  src/components/UnstyledWithTheme.tsx
  src/components/index.ts
  src/stories/Button.mdx
  src/styles/abstracts/variables.css
  src/styles/base/reset.css
  src/styles/components/button.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

Add Button component (#63)
  .vscode/settings.json
  src/components/Button/index.tsx
  src/components/Button/styles.module.scss
  src/components/UnstyledWithTheme.tsx
  src/components/index.ts
  src/stories/Button.mdx
  src/styles/abstracts/variables.css
  src/styles/base/reset.css
  src/styles/components/button.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

🚀 Next Release (#64)
  .vscode/settings.json
  src/components/Button/index.tsx
  src/components/Button/styles.module.scss
  src/components/UnstyledWithTheme.tsx
  src/components/index.ts
  src/stories/Button.mdx
  src/styles/abstracts/variables.css
  src/styles/base/reset.css
  src/styles/components/button.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

Bump version to: 1.0.2 [skip ci]
  package-lock.json
  package.json
Due: none

chore: remove publish for PRs [ci skip]
  .github/workflows/publish-release.yml
Due: none

chore: update GitHub Worfklows config [ci skip]
  .github/workflows/checks.yml
  .github/workflows/code-coverage-check.yml
  .github/workflows/publish-release.yml
Due: none

feat: add input component
  src/stories/Input.mdx
  src/styles/abstracts/variables.css
  src/styles/base/reset.css
  src/styles/components/input.css
  src/styles/main.css
Due: stylelint --fix --max-warnings=0

feat: add form-control component
  src/stories/Input.mdx
  src/styles/components/form-control.css
  src/styles/components/input.css
  src/styles/main.css
Due: stylelint --fix --max-warnings=0

fix: remove unused files
  src/main.ts
  src/utils/dates/format.ts
  src/utils/dates/index.ts
  src/utils/dates/tests/format.test.ts
  src/utils/index.ts
Due: eslint --fix --no-ignore --max-warnings=0

feat: add fake test
  src/tests/mock.test.ts
Due: eslint --fix --no-ignore --max-warnings=0

Add input and form-control components (#65)
  src/main.ts
  src/stories/Input.mdx
  src/styles/abstracts/variables.css
  src/styles/base/reset.css
  src/styles/components/form-control.css
  src/styles/components/input.css
  src/styles/main.css
  src/tests/mock.test.ts
  src/utils/dates/format.ts
  src/utils/dates/index.ts
  src/utils/dates/tests/format.test.ts
  src/utils/index.ts
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

Bump version to: 1.1.0 [skip ci]
  package-lock.json
  package.json
Due: none

docs: add examples story with newsletter
  src/stories/Button.mdx
  src/stories/examples/NewsletterForm.mdx
  src/styles/abstracts/variables.css
  src/styles/base/typography.css
Due: stylelint --fix --max-warnings=0

Add examples story with newsletter (#66)
  src/stories/Button.mdx
  src/stories/examples/NewsletterForm.mdx
  src/styles/abstracts/variables.css
  src/styles/base/typography.css
Due: stylelint --fix --max-warnings=0

feat: add select component
  .vscode/settings.json
  src/components/UnstyledWithTheme.tsx
  src/icons/CaretUpDown.svg
  src/stories/components/Button.mdx
  src/stories/components/Input.mdx
  src/stories/components/Select.mdx
  src/stories/core/Colors.mdx
  src/stories/core/Typography.mdx
  src/stories/examples/NewsletterForm.mdx
  src/styles/base/reset.css
  src/styles/components/form-control.css
  src/styles/components/select.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

Add Select component (#67)
  .vscode/settings.json
  src/components/UnstyledWithTheme.tsx
  src/icons/CaretUpDown.svg
  src/stories/components/Button.mdx
  src/stories/components/Input.mdx
  src/stories/components/Select.mdx
  src/stories/core/Colors.mdx
  src/stories/core/Typography.mdx
  src/stories/examples/NewsletterForm.mdx
  src/styles/base/reset.css
  src/styles/components/form-control.css
  src/styles/components/select.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

🚀 Next Release (#68)
  .vscode/settings.json
  src/components/UnstyledWithTheme.tsx
  src/icons/CaretUpDown.svg
  src/stories/Button.mdx
  src/stories/components/Button.mdx
  src/stories/components/Input.mdx
  src/stories/components/Select.mdx
  src/stories/core/Colors.mdx
  src/stories/core/Typography.mdx
  src/stories/examples/NewsletterForm.mdx
  src/styles/abstracts/variables.css
  src/styles/base/reset.css
  src/styles/base/typography.css
  src/styles/components/form-control.css
  src/styles/components/select.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0
