Repository expenseapp-io/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "eslint --fix --no-ignore --max-warnings=0"
  ],
  "*.{css,scss}": [
    "stylelint --fix --max-warnings=0"
  ]
}

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Bump version to: 1.10.3 [skip ci]
  package-lock.json
  package.json
Due: none

feat: feature-1
  README.md
Due: none

Add Feature 1 (#89)
  README.md
Due: none

feat: feature-2
  README.md
Due: none

Add Feature 2 (#90)
  README.md
Due: none

feat: add box and spinner components
  src/stories/components/Box.mdx
  src/stories/components/Spinner.mdx
  src/styles/abstracts/variables.css
  src/styles/components/box.css
  src/styles/components/spinner.css
  src/styles/main.css
Due: stylelint --fix --max-warnings=0

feat: button-pill component
  src/stories/components/ButtonPill.stories.tsx
  src/styles/components/box.css
  src/styles/components/button-pill.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

feat: wallet-card component
  src/components/UnstyledWithTheme.tsx
  src/icons/VerticalDragAndDrop.svg
  src/stories/components/WalletCard.mdx
  src/styles/components/wallet-card.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

feat: secondary and danger button components
  src/stories/components/Button.mdx
  src/styles/components/button.css
Due: stylelint --fix --max-warnings=0

feat: form-control-error-message and asterix
  src/stories/components/Dialog.mdx
  src/styles/components/form-control.css
Due: stylelint --fix --max-warnings=0

feat: select-small
  src/stories/components/Select.mdx
  src/styles/components/select.css
Due: stylelint --fix --max-warnings=0

feat: add subscription checkbox
  src/stories/components/SubscriptionCheckbox.mdx
  src/styles/components/subscription-checkbox.css
  src/styles/main.css
Due: stylelint --fix --max-warnings=0

feat: add emoji circle
  src/stories/components/EmojiCircle.mdx
  src/stories/components/SubscriptionCheckbox.mdx
  src/styles/components/emoji-circle.css
  src/styles/components/subscription-checkbox.css
  src/styles/main.css
Due: stylelint --fix --max-warnings=0

feat: widget, subscription, alert
  src/components/UnstyledWithTheme.tsx
  src/icons/AlertIcon.svg
  src/icons/MoreVertical.svg
  src/icons/PlusIcon.svg
  src/stories/components/Alert.mdx
  src/stories/components/Button.mdx
  src/stories/components/Spinner.mdx
  src/stories/components/Widget.mdx
  src/styles/components/alert.css
  src/styles/components/box.css
  src/styles/components/spinner.css
  src/styles/components/subscription.css
  src/styles/components/widget.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

feat: budget widget
  src/icons/ArrowDown.svg
  src/icons/ArrowUp.svg
  src/stories/components/Widget.mdx
  src/styles/components/budget.css
  src/styles/components/button.css
  src/styles/main.css
Due: stylelint --fix --max-warnings=0

fix: spacing in widgets
  src/stories/components/Widget.mdx
  src/styles/components/budget.css
  src/styles/components/widget.css
Due: stylelint --fix --max-warnings=0

feat: transaction
  src/stories/components/Transaction.mdx
  src/styles/components/emoji-circle.css
  src/styles/components/transaction.css
  src/styles/main.css
Due: stylelint --fix --max-warnings=0

fix: replace transaction with card
  src/stories/components/Card.mdx
  src/stories/components/Transaction.mdx
  src/styles/components/card.css
  src/styles/main.css
Due: stylelint --fix --max-warnings=0

feat: spinner message
  src/stories/components/Spinner.mdx
  src/styles/components/spinner.css
Due: stylelint --fix --max-warnings=0

Feature/more components (#92)
  src/components/UnstyledWithTheme.tsx
  src/icons/AlertIcon.svg
  src/icons/ArrowDown.svg
  src/icons/ArrowUp.svg
  src/icons/MoreVertical.svg
  src/icons/PlusIcon.svg
  src/icons/VerticalDragAndDrop.svg
  src/stories/components/Alert.mdx
  src/stories/components/Box.mdx
  src/stories/components/Button.mdx
  src/stories/components/ButtonPill.stories.tsx
  src/stories/components/Card.mdx
  src/stories/components/Dialog.mdx
  src/stories/components/EmojiCircle.mdx
  src/stories/components/Select.mdx
  src/stories/components/Spinner.mdx
  src/stories/components/WalletCard.mdx
  src/stories/components/Widget.mdx
  src/styles/abstracts/variables.css
  src/styles/components/alert.css
  src/styles/components/box.css
  src/styles/components/budget.css
  src/styles/components/button-pill.css
  src/styles/components/button.css
  src/styles/components/card.css
  src/styles/components/emoji-circle.css
  src/styles/components/form-control.css
  src/styles/components/select.css
  src/styles/components/spinner.css
  src/styles/components/subscription.css
  src/styles/components/wallet-card.css
  src/styles/components/widget.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

Bump version to: 1.11.0 [skip ci]
  package-lock.json
  package.json
Due: none

feat: add monthly reports
  .vscode/settings.json
  src/stories/components/MonthlyReport.mdx
  src/styles/components/monthly-report.css
  src/styles/main.css
Due: stylelint --fix --max-warnings=0

fix: icons export
  src/icons/ArrowDownIcon.svg
  src/icons/ArrowUpIcon.svg
  src/icons/MoreVerticalIcon.svg
  src/icons/VerticalDragAndDropIcon.svg
  src/icons/index.ts
  src/stories/components/Card.mdx
  src/stories/components/MonthlyReport.mdx
  src/stories/components/Widget.mdx
Due: eslint --fix --no-ignore --max-warnings=0

Feature/monthly reports (#93)
  .vscode/settings.json
  src/icons/ArrowDownIcon.svg
  src/icons/ArrowUpIcon.svg
  src/icons/MoreVerticalIcon.svg
  src/icons/VerticalDragAndDropIcon.svg
  src/icons/index.ts
  src/stories/components/Card.mdx
  src/stories/components/MonthlyReport.mdx
  src/stories/components/Widget.mdx
  src/styles/components/monthly-report.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

Bump version to: 1.12.0 [skip ci]
  package-lock.json
  package.json
Due: none

feat: menu
  src/icons/EditIcon.svg
  src/icons/RemoveIcon.svg
  src/icons/index.ts
  src/stories/components/Menu.mdx
  src/styles/components/menu.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

feat: menu (#94)
  src/icons/EditIcon.svg
  src/icons/RemoveIcon.svg
  src/icons/index.ts
  src/stories/components/Menu.mdx
  src/styles/components/menu.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

Bump version to: 1.13.0 [skip ci]
  package-lock.json
  package.json
Due: none

fix: alert alignment
  src/stories/components/Widget.mdx
  src/styles/components/alert.css
Due: stylelint --fix --max-warnings=0

fix: button colors
  src/styles/abstracts/variables.css
  src/styles/components/button.css
Due: stylelint --fix --max-warnings=0

fix: colors for wallet card and box
  src/styles/abstracts/variables.css
  src/styles/components/box.css
Due: stylelint --fix --max-warnings=0

fix: emoji-circle and icon-button colors
  src/styles/abstracts/variables.css
  src/styles/components/emoji-circle.css
  src/styles/components/icon-button.css
Due: stylelint --fix --max-warnings=0

fix: avatar colors
  src/styles/components/avatar.css
Due: stylelint --fix --max-warnings=0

fix: select colors
  src/styles/components/select.css
Due: stylelint --fix --max-warnings=0

fix: budget colors
  src/styles/abstracts/variables.css
  src/styles/components/budget.css
Due: stylelint --fix --max-warnings=0

fix: input colors
  src/styles/components/input.css
Due: stylelint --fix --max-warnings=0
