Repository expenseapp-io/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

chore: update svgr config
  .storybook/main.ts
  .vscode/settings.json
  index.d.ts
  rollup.config.js
  src/components/DatePicker/index.tsx
  src/stories/components/Button.mdx
  src/stories/components/DatePicker.mdx
  src/stories/components/DatePicker.stories.tsx
  src/stories/components/Dialog.stories.tsx
  src/stories/components/IconButton.mdx
  src/stories/components/Select.mdx
  src/stories/core/Icons.mdx
  src/utils/useDatePicker.ts
Due: eslint --fix --no-ignore --max-warnings=0

chore: change size-limit
  .size-limit.json
Due: none

fix: add DatePicker export (#77)
  .size-limit.json
  .storybook/main.ts
  .vscode/settings.json
  index.d.ts
  rollup.config.js
  src/components/DatePicker/index.tsx
  src/components/index.ts
  src/main.ts
  src/stories/components/Button.mdx
  src/stories/components/DatePicker.mdx
  src/stories/components/DatePicker.stories.tsx
  src/stories/components/Dialog.stories.tsx
  src/stories/components/IconButton.mdx
  src/stories/components/Select.mdx
  src/stories/core/Icons.mdx
  src/utils/useDatePicker.ts
Due: eslint --fix --no-ignore --max-warnings=0

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: none

Bump version to: 1.6.1 [skip ci]
  package-lock.json
  package.json
Due: none

fix: focus ring color for dark mode
  src/styles/abstracts/variables.css
Due: stylelint --fix --max-warnings=0

fix: focus ring color for dark mode (#78)
  src/styles/abstracts/variables.css
Due: stylelint --fix --max-warnings=0

Bump version to: 1.6.2 [skip ci]
  package-lock.json
  package.json
Due: none

fix: remove unused components and fix line-height
  package-lock.json
  package.json
  src/components/DatePicker/index.tsx
  src/components/DatePicker/reducer.ts
  src/components/DatePicker/types.ts
  src/components/index.ts
  src/main.ts
  src/stories/components/DatePicker.stories.tsx
  src/stories/components/Dialog.mdx
  src/stories/components/Dialog.stories.tsx
  src/stories/core/Typography.mdx
  src/styles/components/button.css
  src/styles/components/date-picker.css
  src/styles/components/input.css
  src/styles/components/select.css
  src/styles/main.css
  src/utils/useDatePicker.ts
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

fix: remove unused components and fix line-height (#79)
  package-lock.json
  package.json
  src/components/DatePicker/index.tsx
  src/components/DatePicker/reducer.ts
  src/components/DatePicker/types.ts
  src/components/index.ts
  src/main.ts
  src/stories/components/DatePicker.stories.tsx
  src/stories/components/Dialog.mdx
  src/stories/components/Dialog.stories.tsx
  src/stories/core/Typography.mdx
  src/styles/components/button.css
  src/styles/components/date-picker.css
  src/styles/components/input.css
  src/styles/components/select.css
  src/styles/main.css
  src/utils/useDatePicker.ts
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

Bump version to: 1.7.0 [skip ci]
  package-lock.json
  package.json
Due: none

feat: add new date picker
  package-lock.json
  package.json
  src/components/DatePicker.tsx
  src/components/index.ts
  src/stories/components/DatePicker.stories.tsx
  src/styles/components/button.css
  src/styles/components/date-picker.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

feat: add new date picker (#80)
  package-lock.json
  package.json
  src/components/DatePicker.tsx
  src/components/index.ts
  src/stories/components/DatePicker.stories.tsx
  src/styles/components/button.css
  src/styles/components/date-picker.css
  src/styles/main.css
Due: eslint --fix --no-ignore --max-warnings=0, stylelint --fix --max-warnings=0

Bump version to: 1.8.0 [skip ci]
  package-lock.json
  package.json
Due: none

feat: add notification component
  src/stories/components/Notification.mdx
  src/styles/components/icon-button.css
  src/styles/components/notification.css
  src/styles/main.css
Due: stylelint --fix --max-warnings=0

feat: add notification component (#81)
  src/stories/components/Notification.mdx
  src/styles/components/icon-button.css
  src/styles/components/notification.css
  src/styles/main.css
Due: stylelint --fix --max-warnings=0

Bump version to: 1.9.0 [skip ci]
  package-lock.json
  package.json
Due: none

feat: avatar component
  src/stories/components/Avatar.mdx
  src/styles/components/avatar.css
Due: stylelint --fix --max-warnings=0

feat: avatar component (#82)
  src/stories/components/Avatar.mdx
  src/styles/components/avatar.css
Due: stylelint --fix --max-warnings=0

Bump version to: 1.10.0 [skip ci]
  package-lock.json
  package.json
Due: none

fix: avatar component import
  src/styles/main.css
Due: stylelint --fix --max-warnings=0

fix: avatar component import (#83)
  src/styles/main.css
Due: stylelint --fix --max-warnings=0

Bump version to: 1.10.1 [skip ci]
  package-lock.json
  package.json
Due: none

fix: text-primary color
  src/styles/abstracts/variables.css
Due: stylelint --fix --max-warnings=0

fix: text-primary color (#84)
  src/styles/abstracts/variables.css
Due: stylelint --fix --max-warnings=0

Bump version to: 1.10.2 [skip ci]
  package-lock.json
  package.json
Due: none

docs: add PR template
  .github/pull_request_template.md
Due: none

docs: add PR template (#85)
  .github/pull_request_template.md
Due: none

feat: feature-1
  README.md
Due: none

Add Feature 1 (#86)
  README.md
Due: none

feat: feature-2
  README.md
Due: none

Add Feature 2 with Minor label (#87)
  README.md
Due: none

New Release is Coming (#88)
  README.md
Due: none

Path conditions:
  eslint --fix --no-ignore --max-warnings=0: any of: *.{ts,tsx}
  stylelint --fix --max-warnings=0: any of: *.{css,scss}
